<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTU</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
<div class="settings-bar"></div>
<div class="logo-bar">
    <img src="{{ url_for('static',filename='RTU_portal_logo.png') }}">
    <div class="logo-bar-right">
        <form method="post" class="search">
            <input class="search-field" type="text" placeholder="Search..">
            <input type="submit" class="search-button" value="Meklēšana">
        </form>     
    </div>         
    <div class="logo-triangle"></div>  
</div>
<div class="nav-bar">
    <nav>
        <li>
            <a href=""><p>Sākums</p></a>
            <a href=""><p>Studentiem</p></a>
            <a href=""><p>Valorizācija</p></a>
            <a href=""><p>Bibliotēka</p></a>
            <a href=""><p>Pakalpojumi</p></a>
        </li>
    </nav>
</div>
<div class="page"></div>
</body>
</html>